---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
<div class="copyright-contact">
  <p>
    Author: John D. Swanson - Contact me at <a href="mailto:swanson.john.d@gmail.com">swanson.john.d@gmail.com</a><br>
    Opinions are my own and do not reflect those of my employer.<br>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://swannysec.github.io/atom.xml"><img src="https://swannysec.github.io/public/feed-icon-14x14.png" alt="Atom Feed" style="width:14px;height:14px;border:0"></a>
  </p>
</div>
