---
layout: default
title: Tags
---

{<div class='list-group'>
  {% assign tags_list = site.tags %}

  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
      <a href="/tags#{{ tag }}-ref" class='list-group-item'>
        {{ tag }} <span class='badge'>{{ site.tags[tag].size }}</span>
      </a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      <a href="/tags#{{ tag[0] }}-ref" class='list-group-item'>
        {{ tag[0] }} <span class='badge'>{{ tag[1].size }}</span>
      </a>
    {% endfor %}
  {% endif %}

  {% assign tags_list = nil %}
</div>


{% for tag in site.tags %}
  <h2 class='tag-header' id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}

    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
          {% if page.url == node.url %}
          <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
          {% else %}
          <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}

<hr style="background:#313131; border:0; height:2px" />

<style type="text/css">
#share-buttons img {
  width: 40px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;}
</style>
<div id="share-buttons">
<!-- I got these buttons from simplesharebuttons.com -->
  <!-- Email -->
      <a href="mailto:?Subject={{ site.title }}&amp;Body=Check%20this%20out!%20 {{ site.url }}{{ page.url }}">
          <img src="https://swannysec.github.io/public/email.png" alt="Email" />
      </a>
  <!-- Twitter -->
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ site.title }}&amp;hashtags=infosec" target="_blank">
          <img src="https://swannysec.github.io/public/twitter.png" alt="Twitter" />
      </a>
  <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" target="_blank">
          <img src="https://swannysec.github.io/public/linkedin.png" alt="LinkedIn" />
      </a>
  <!-- Reddit -->
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ site.title }} - An InfoSec Blog" target="_blank">
          <img src="https://swannysec.github.io/public/reddit.png" alt="Reddit" />
      </a>
  <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
          <img src="https://swannysec.github.io/public/facebook.png" alt="Facebook" />
      </a>
</div>
<br>
<div class="contact">
    Author: John D. Swanson - Contact me at <a href="mailto:swanson.john.d@gmail.com">swanson.john.d@gmail.com</a><br>
    Opinions are my own and do not reflect those of my employer.<br>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://swannysec.github.io/atom.xml"><img src="https://swannysec.github.io/public/feed-icon-14x14.png" alt="Atom Feed" style="width:14px;height:14px;border:0"></a>
</div>
