---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
<br>
<div class="copyright-contact">
  <p>
    Author: John D. Swanson - Contact me at <a href="mailto:swanson.john.d@gmail.com">swanson.john.d@gmail.com</a><br>
    Opinions are my own and do not reflect those of my employer.<br>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://swannysec.github.io/atom.xml"><img src="https://swannysec.github.io/public/feed-icon-14x14.png" alt="Atom Feed" style="width:14px;height:14px;border:0"></a>
  </p>
</div>
