---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
<br>
<hr style="background:#313131; border:0; height:2px" />
<style type="text/css">
#share-buttons img {
  width: 40px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;}
</style>
<div id="share-buttons">
<!-- I got these buttons from simplesharebuttons.com -->
  <!-- Email -->
      <a href="mailto:?Subject={{ page.title }} - From swannysec&amp;Body=Check%20this%20out!%20 {{ site.url }}{{ page.url }}">
          <img src="//swannysec.net/public/email.png" alt="Email" />
      </a>
  <!-- Twitter -->
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}%20from%20swannysec:&amp;hashtags=infosec" target="_blank">
          <img src="//swannysec.net/public/twitter.png" alt="Twitter" />
      </a>
  <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" target="_blank">
          <img src="//swannysec.net/public/linkedin.png" alt="LinkedIn" />
      </a>
  <!-- Reddit -->
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }} - From swannysec" target="_blank">
          <img src="//swannysec.net/public/reddit.png" alt="Reddit" />
      </a>
  <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
          <img src="//swannysec.net/public/facebook.png" alt="Facebook" />
      </a>
</div>
<br>
<div class="contact">
    Author: John D. Swanson - Contact me at <a href="mailto:swanson.john.d@gmail.com">swanson.john.d@gmail.com</a><br>
    Opinions are my own and do not reflect those of my employer.<br>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="//swannysec.net/atom.xml"><img src="//swannysec.net/public/feed-icon-14x14.png" alt="Atom Feed" style="width:14px;height:14px;border:0"></a>
</div>
