---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<hr style="background:#313131; border:0; height:2px" />

<div class="footer">
  Author: John D. Swanson<br>
</div>
<style type="text/css">
#share-buttons img {
  width: 30px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;}
</style>
<div id="share-buttons">
<!-- I got these buttons from simplesharebuttons.com -->
  <!-- Email -->
      <a href="mailto:?Subject={{ post.title }} - From swannysec&amp;Body=Check%20this%20out!%20 {{ site.url }}{{ page.url }}">
          <img src="https://swannysec.github.io/public/email.png" alt="Email" />
      </a>
  <!-- Twitter -->
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ post.title }}%20from%20swannysec&amp;hashtags=infosec" target="_blank">
          <img src="https://swannysec.github.io/public/twitter.png" alt="Twitter" />
      </a>
  <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" target="_blank">
          <img src="https://swannysec.github.io/public/linkedin.png" alt="LinkedIn" />
      </a>
  <!-- Reddit -->
      <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ post.title }} - From swannysec" target="_blank">
          <img src="https://swannysec.github.io/public/reddit.png" alt="Reddit" />
      </a>
  <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
          <img src="https://swannysec.github.io/public/facebook.png" alt="Facebook" />
      </a>
</div>
